<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&display=swap" rel="stylesheet">
</head>



<div class="maindiv">
    <!-- First Row Field -->
    <div class="singlefielddiv">
        <div class="singlefieldcontainer">
            <small class="label">Company Name</small>
            <input class="selectdiv" type="text">
        </div>
        <div class="singlefieldcontainer">
            <small class="label">CP reference No.</small>
            <input class="selectdiv" type="text">
        </div>
        <div class="singlefieldcontainer">
            <small class="label">Duty Req Date</small>
            <input class="selectdiv" type="text">
        </div>
    </div>
<!-- Second Row Field -->
    <div class="threefielddiv">
        <label class="heading"> Attn: </label>
        <div class="fieldcontainer">
            <div class="inputcontainer">
                <small class="label">Copy Doc. Date</small>
                <input class="selectdivthreecont" type="text">
            </div>
            <div class="inputcontainer">
                <small class="label">C.A Job No.</small>
                <input class="selectdivthreecont" type="text">
            </div>
            <div class="inputcontainer">
                <small class="label">Original Doc. Date</small>
                <input class="selectdivthreecont" type="text">
            </div>
        </div>

        <div class="fieldcontainer">
            <div class="inputcontainer">
                <small class="label">BL No.</small>
                <input class="selectdivthreecont" type="text">
            </div>
            <div class="inputcontainer">
                <small class="label">Supplier</small>
                <input class="selectdivthreecont" type="text">
            </div>
            <div class="inputcontainer">
                <small class="label">I.G.M no.</small>
                <input class="selectdivthreecont" type="text">
            </div>
        </div>

        <div class="fieldcontainer">
            <div class="inputcontainer">
                <small class="label">Vessel Name</small>
                <input class="selectdivthreecont" type="text">
            </div>
            <div class="inputcontainer">
                <small class="label">I.G.M Date</small>
                <input class="selectdivthreecont" type="text">
            </div>
            <div class="inputcontainer">
               <!-- NO FIELD HERE -->
            </div>
        </div>
    </div>

    <!-- Third field -->
    <div class="singlerowfieltwofieldddiv">
        <label class="heading"> PCT/HS CODE: </label>
        <div class="twoinputfieldcontainer">
            <div class="twoinputfielddiv">
                <small class="label">PCT/HS CODE:</small>
                <input class="twoinputfield" type="text">
          
            </div>
            <div class="secondfielddiv">
                <small class="label">Comment</small>
                <input class="twoinputfield" type="text">
          
            </div>
        </div>
    </div>
<!-- fOURTH FIELD -->
    <div class="tworowfielddiv">
        <label class="heading"> Container Details</label>
        <div class="twofieldsrowcontainer">
            <div class="twofieldrowdiv">
                <div class="twofieldscontainer">
                    <small class="twofieldlabel">Material Description:</small>
                    <input class="twofieldinput" type="text">
              
                </div>
                <div class="twofieldscontainer">
                    <small class="twofieldlabel">No of Containers:</small>
                    <input class="twofieldinput" type="text">
              
                </div>
                <div class="twofieldscontainer">
                    <small class="twofieldlabel">Container Size:</small>
                    <input class="twofieldinput" type="text">
              
                </div>
            </div>
            <div class="twofieldrowdiv">
                <div class="twofieldscontainer">
                    <small class="twofieldlabel">Net weight:</small>
                    <input class="twofieldinput" type="text">
              
                </div>
                <div class="twofieldscontainer">
                    <small class="twofieldlabel">Gross weight:</small>
                    <input class="twofieldinput" type="text">
              
                </div>
                <div class="twofieldscontainer">
                 <!-- NO FIELD HERE -->
              
                </div>
            </div>
        </div>
    </div>
    <!-- FIFTH FIELD -->
    <div class="threefielddiv" style="margin-top: 40px;">
        <label class="heading"> Exchange Values: </label>
        <div class="fieldcontainer">
            <div class="ITPinputcontainer">
                <small class="label">ITP value per KG:</small>
                <!-- <input class="selectdivthreecont" type="text"> -->

                <div class="ITPinputdiv">

                    <select class="ITPselectdiv" ></select>
                    <input class="ITPinput" type="text">
                </div>
            </div>
            <div class="inputcontainer">
                <small class="label">C&F value per KG (USD):</small>
                <input class="selectdivthreecont" type="text">
            </div>
            <div class="inputcontainer">
                <small class="label">Invoice value / ITP (USD):</small>
                <input class="selectdivthreecont" type="text">
            </div>
        </div>

        <div class="fieldcontainer">
            <div class="inputcontainer">
                <small class="label">Exchange rate:</small>
                <input class="selectdivthreecont" type="text">
            </div>
            <div class="inputcontainer">
                <small class="label">C&F value (PKR)</small>
                <input class="selectdivthreecont" type="text">
            </div>
            <div class="inputcontainer">
                <small class="label">Insurance (PKR):</small>
                <input class="selectdivthreecont" type="text">
            </div>
        </div>

        <div class="fieldcontainer">
            <div class="inputcontainer">
                <small class="label">Import value (PKR):</small>
                <input class="selectdivthreecont" type="text">
            </div>
            <div class="inputcontainer">
                <!-- NO FIELD -->
            </div>
            <div class="inputcontainer">
               <!-- NO FIELD HERE -->
            </div>
        </div>
    </div>
    <!-- SIXTH FIELD -->
    <div class="dutiesmaindiv">
        <div class="headerdiv">
            <div class="dutyfieldcontainer">
                <label class="dutiesheading"> Duties & Taxes: </label>
            </div>
            <div class="dutyfieldcontainer">
                <label class="dutiesheading"> Rate </label>
            </div>
            <div class="dutyfieldcontainer">
                <label class="dutiesheading"> Comment </label>
            </div>
            <div class="dutyfieldcontainer">
                <label class="dutiesheading"> Amount in PKR </label>
            </div>
        </div>
        <!-- MULTI IP -->
        <div class="fielddiv">
            <div class="dutyfieldtextcontainer">
                <p class="dutytextstyle">Custom duty +<br>Additional duty<br></p>
            </div>
            <div class="dutyfieldcontainer">
                <div class="multiinputcontainer">
                   <div class="multiinputdiv">
                        <input class="miniinput" type="text">
                   </div>
                   %         +
                   <div class="multiinputdiv">
                    <input class="miniinput" type="text">
                </div>
                %
                </div>
            </div>
            <div class="dutyfieldcontainer">
                <div class="dutyinputdiv">
                    <input type="text" class="dutyinput">
                </div>
            </div>
            <div class="dutyfieldcontainer">
                <div class="dutyinputdiv">
                    <input type="text" class="dutyinput">
                </div>
            </div>
        </div>





        <!-- SINGLE IP -->
        <div class="fielddiv">
            <div class="dutyfieldtextcontainer">
                <p class="dutytextstyle">Regulatory <br> duty<br></p>
            </div>
            <div class="dutyfieldcontainer">
                <div class="singlenputcontainer">
                   <div class="singleinputdiv" style="width: 80%;">
                    <input class="singleinput" type="text">
                </div>
                %
                </div>
            </div>
            <div class="dutyfieldcontainer">
                <div class="dutyinputdiv">
                    <input type="text" class="dutyinput">
                </div>
            </div>
            <div class="dutyfieldcontainer">
                <div class="dutyinputdiv">
                    <input type="text" class="dutyinput">
                </div>
            </div>
        </div>





        <div class="fielddiv">
            <div class="dutyfieldtextcontainer">
                <p class="dutytextstyle">Sales<br>tax<br></p>
            </div>
            <div class="dutyfieldcontainer">
                <div class="multiinputcontainer">
                   <div class="multiinputdiv">
                        <input class="miniinput" type="text">
                   </div>
                   %         +
                   <div class="multiinputdiv">
                    <input class="miniinput" type="text">
                </div>
                %
                </div>
            </div>
            <div class="dutyfieldcontainer">
                <div class="dutyinputdiv">
                    <input type="text" class="dutyinput">
                </div>
            </div>
            <div class="dutyfieldcontainer">
                <div class="dutyinputdiv">
                    <input type="text" class="dutyinput">
                </div>
            </div>
        </div>






        <div class="fielddiv">
            <div class="dutyfieldtextcontainer">
                <p class="dutytextstyle">Income <br> tax<br></p>
            </div>
            <div class="dutyfieldcontainer">
                <div class="singlenputcontainer">
                   <div class="singleinputdiv" style="width: 80%;">
                    <input class="singleinput" type="text">
                </div>
                %
                </div>
            </div>
            <div class="dutyfieldcontainer">
                <div class="dutyinputdiv">
                    <input type="text" class="dutyinput">
                </div>
            </div>
            <div class="dutyfieldcontainer">
                <div class="dutyinputdiv">
                    <input type="text" class="dutyinput">
                </div>
            </div>
        </div>








        <div class="fielddiv">
            <div class="dutyfieldtextcontainer">
                <p class="dutytextstyle">Anti dumping  <br> duty<br></p>
            </div>
            <div class="dutyfieldcontainer">
                <div class="singlenputcontainer">
                   <div class="singleinputdiv" style="width: 80%;">
                    <input class="singleinput" type="text">
                </div>
                %
                </div>
            </div>
            <div class="dutyfieldcontainer">
                <div class="dutyinputdiv">
                    <input type="text" class="dutyinput">
                </div>
            </div>
            <div class="dutyfieldcontainer">
                <div class="dutyinputdiv">
                    <input type="text" class="dutyinput">
                </div>
            </div>
        </div>






        <div class="fielddiv">
            <div class="dutyfieldtextcontainer">
                <p class="dutytextstyle">IGM <br> Blocking<br></p>
            </div>
            <div class="dutyfieldcontainer">
               <!-- NO FIELDS -->
            </div>
            <div class="dutyfieldcontainer">
                <!-- NO FIELDS -->
             </div>
            <div class="dutyfieldcontainer">
                <div class="dutyinputdiv">
                    <input type="text" class="dutyinput">
                </div>
            </div>
        </div>


        <div class="fielddiv">
            7
        </div>
        <div class="fielddiv">
            8
        </div>
    </div>
</div>