
<div class="btndiv">
    
    <button class=" btncontainer" (click)="btnClickedHandler($event )"><i class="material-icons" >edit</i></button> 
    <button class=" btncontainer" style="background-color: red; border-color: red;" (click)="OrderDelete()" ><i class="material-icons" style="margin-top:-2% ;">delete</i></button> 

</div>

<!-- <form >
    <input 
    
    type="datetime-local"  name="EventDate"
    value="EventDate"
    [ngModel]="EventEdit | date:'yyyy-MM-ddTHH:mm'"
    (ngModelChange)="change($event)" />
</form>
AFSDF
{{EventEdit}} -->
