<!-- <button class="  btnClass: 'btn btn-primary btn-sm'" style=" border-radius: 2px; " (click)="onEditClick($event)"><i class="material-icons" style="margin-top:-2% ;">edit</i></button>  -->
<div class="btndiv">
    <button class="  btncontainer" style="background-color: red;border-color: red;" (click)="onDeleteClick()"><i class="material-icons" style="margin-top:-2% ;">delete</i></button> 
    <button class="  btncontainer" (click)="onUpdateClick()"><i class="material-icons" style="margin-top:-2% ;">check</i></button> 
    
</div>



<!-- 
<input type="datetime-local" (click)="onEditClick($event)"> -->
