
  
    <!-- <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Event Details</h4>
        <p class="modal-title" id="modal-basic-title" style="font-size: 10px;">View/Edit your Material Details</p>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> {{my_modal_content}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Submit</button>
      </div>
   -->




   <div class="spandiv">
    &nbsp;
  
  
  
    
      <div class="modal-header">
        <div class="headertxtdiv">
  
          <h4 class="modal-title" id="modal-basic-title">Alert Details</h4>
          <p class="modal-title" id="modal-basic-title" style="font-size: 10px;">Add/Edit your Alert Details</p>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
  
      </div>
  
  
  
  
  
  
  
  
  
      <div class="modal-body">
        <div class="griddiv">
            <div class="maincontianer">
                <div class="fieldcontainer">
                    <small class="label">Maturity Date </small>
                    <input class="selectdiv" type="text"
                     placeholder="Maturity Date ">
                </div>
                <div class="fieldcontainer">
                  <small class="label">Demurrage free days </small>
                    <input class="selectdiv" type="text" 
                    placeholder="Write Demurrage free days "
                    > 
                </div>
                <div class="fieldcontainer">
                  <small class="label">Detention free days </small>
                  <input class="selectdiv" type="text"
                  placeholder="Write Detention free days "
                  >
                </div>
            </div>

            <div class="maincontianer">
              <div class="fieldcontainer">
                <small class="label">ETA Alert </small>
                <input class="selectdiv" type="text"
                placeholder="Write ETA Alert" >
            </div>
          </div>
        </div>
      </div>
  
  
      <form class="footer">
        <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button> -->
        
          <button class="btncontainer" >
              Submit
          </button>
      </form>
   </div>
  
  
  