<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&display=swap" rel="stylesheet">
</head>


<div class="maindiv">
    <form class="formdiv" #orderinsertion="ngForm" (ngSubmit)="onSubmit()">
        {{MainOrderForm.paymentmethod}}
        <div class="formfieldcontainer">
            <label class="heading">Shipment Details</label>
            <div class="checkrow">
                <div class="fieldcontainer">
                    <div class="inputconatiner">
                        <small class="label">Shipment Mode<span>*</span></small>
                        <select class="selectdiv" name="shipmentmode" [(ngModel)]="updatedOrder.shipment_mode_id"
                            name="shipmentmode" #shipmentmode="ngModel">
                            <option [ngValue]="undefined" [disabled]="true" >Select Shimpent Mode</option>                            <option [value]="item.shipment_mode.shipment_mode_id" *ngFor="let item of shipmentmodeArr">
                                {{item["shipment_mode"].shipment_mode_name}}</option>
                        </select>

                        <div *ngIf="shipmentmode.invalid && (shipmentmode.dirty || shipmentmode.touched)">
                            <div class="req-text" style="color: red;" *ngIf="shipmentmode?.errors?.required">
                                Shipment Mode is required
                            </div>
                        </div>
                    </div>
                    <div class="inputconatiner">
                        <small class="label">PO Line Number<span>*</span></small>
                        <input type="text" class="selectdiv" name="polinenumber" 
                            [(ngModel)]="updatedOrder.po_line_number" #polinenumber="ngModel">
                        <div *ngIf="polinenumber.invalid && (polinenumber.dirty || polinenumber.touched)">
                            <div class="req-text" style="color: red;" *ngIf="polinenumber?.errors?.required">
                                PO Line Number is required
                            </div>
                        </div>
                    </div>


                </div>

                <div class="fieldcontainer">
                    <div class="inputconatiner">
                        <small class="label">PO number<span>*</span></small>
                        <input class="selectdiv" type="text" name="ponumber" [(ngModel)]="updatedOrder.po_number"
                            #ponumber="ngModel">

                        <div *ngIf="ponumber.invalid && (ponumber.dirty || ponumber.touched)">
                            <div class="req-text" style="color: red;" *ngIf="ponumber?.errors?.required">
                                PO number is required
                            </div>
                        </div>
                    </div>

                    <div class="inputconatiner">
                        <small class="label">Inbound Number</small>
                        <input class="selectdiv" type="text" name="inboundnumber"
                            [(ngModel)]="updatedOrder.inbound_number">
                    </div>
                </div>

                <div class="fieldcontainer">
                    <div class="inputconatiner" style="background-color: transparent;">
                        <small class="label">File Number <span>*</span></small>
                        <input class="selectdiv" type="text" name="filenumber" [(ngModel)]="updatedOrder.file_number"
                            #filenumber="ngModel">

                        <div *ngIf="filenumber.invalid && (filenumber.dirty || filenumber.touched)">
                            <div class="req-text" style="color: red;" *ngIf="filenumber?.errors?.required">
                                File Number is required
                            </div>
                        </div>
                    </div>

                    <div class="inputconatiner">
                        <small class="label">BL Number</small>
                        <input class="selectdiv" type="text" name="blnumber" [(ngModel)]="updatedOrder.bl_number">
                    </div>
                </div>
            </div>
        </div>


        <div class="singleformfieldcontainer" name="matdetails" *ngFor="let arr of materialDetails; let i = index;">
            <label class="heading" *ngIf="i == 0">Materials Details</label>
            <div class="singlerow">
                <div class="fieldcontainer">
                    <div class="singleinputconatiner">
                        <small class="label">Materials Code</small>
                        <select class="selectdiv" name="matdetails" [(ngModel)]="arr.mat_id" id=""
                            (change)="setValue(arr , $event)">
                            <option [ngValue]="undefined" [disabled]="true" >Select Materials</option>
                            <option [value]=drop.matcode *ngFor="let drop of Materials;" >
                                {{drop.mat}}_{{arr.mat_id}}</option>
                        </select>
                    </div>
                </div>


                <div class="fieldcontainer">
                    <div class="singleinputconatiner">
                        <small class="label">Materials Description</small>
                        <div class="selectdiv" type="text"  name="description{{i}}"
                            id="description"> {{arr.matdesc}}</div>
                    </div>
                </div>
                <div class="fieldcontainer">
                    <div class="singleinputconatinerwithbtn">
                        <small class="label">Quantity</small>
                        <div class="singlebtninputdiv">
                            <input class="singleselectdivwithbtn" type="number" [(ngModel)]="arr.quantity"
                                name="quantity{{i}}" id="quantity">
                            <div *ngIf="i == 0" class="singlebtndiv">
                                <button class="singlebtn" (click)="addNewRow()" type="button">Add</button>
                            </div>
                            <div *ngIf="i > 0" class="singlebtndiv">
                                <button class="singlebtn" style="background-color: red;" (click)="removeRow(i)"
                                    type="button">close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="formfieldcontainer">
            <label class="heading"> LC/BC Details</label>
            <div class="checkrow">
                <div class="fieldcontainer">
                    <div class="inputconatiner">
                        <small class="label">LC/BC Selection</small>
                        <select class="selectdiv" placeholder="Choose from list" name="paymentmethod"
                            (change)="Changepaymentmethod($event)"
                            [(ngModel)]="updatedOrder.order_contract_details.contract_id">
                            <option [ngValue]="undefined" [disabled]="true" >Select LC/BC</option>
                            <option [ngValue]=item.payid *ngFor="let item of paymentmethod">
                                {{item.paydesc}}</option>
                        </select>


                    </div>
                    <div class="inputconatiner">
                        <small class="label">LC/BC date(initiated)</small>
                        <div class="selectdiv">
                            <!-- <i class="img"> <img src="/assets/celender.png"  width="100%" height="100%"></i> -->
                            <input style="height: 100%; width:100% ; border-color: transparent;padding-left: 2px;"
                                type="datetime-local" data-date-inline-picker="true"
                                [ngModel]="updatedOrder.order_contract_details.initiated_dt | date:'yyyy-MM-ddTHH:mm'"
                                (ngModelChange)="updatedOrder.order_contract_details.initiated_dt = $event"
                                name="LCBCdateinitiated">
                        </div>
                    </div>
                </div>
                <div class="fieldcontainer">
                    <div class="inputconatiner">
                        <small class="label">LC Number /BC (By SAP PO)</small>
                        <input class="selectdiv" name="LCBCnumberSAP"
                            [(ngModel)]="updatedOrder.order_contract_details.sap_contract_number">
                    </div>
                    <div class="inputconatiner">
                        <small class="label">LC Number/BC (received date)</small>
                        <div class="selectdiv">
                            <!-- <i class="img"> <img src="/assets/celender.png"  width="100%" height="100%"></i> -->
                            <input style="height: 100%; width:100% ; border-color: transparent;padding-left: 2px;"
                                type="datetime-local" data-date-inline-picker="true" name="LCnumberBCreceiveddate"
                                [ngModel]="updatedOrder.order_contract_details.received_dt | date:'yyyy-MM-ddTHH:mm'"
                                (ngModelChange)="updatedOrder.order_contract_details.received_dt = $event">
                        </div>
                    </div>
                </div>
                <div class="fieldcontainer">
                    <div class="inputconatiner">
                        <small class="label">LC Number/BC (CP Manual entry)</small>
                        <input class="selectdiv" name="LCnumberBCmanualentry"
                            [(ngModel)]="updatedOrder.order_contract_details.manual_contract_number">
                    </div>
                </div>
            </div>



        </div>



        <div class="singleformfieldcontainer">
            <div class="singledivwithheading" style="margin-top: 50px;">
                <div class="containerwithheading">
                    <label class="heading">Bank</label>
                    <div class="singleinputconatiner" style="margin-top: -20px;">
                        <select class="selectdiv" name="Banks" [(ngModel)]="updatedOrder.bank_id"
                            (change)="ChangeBank($event)">
                            <option [ngValue]="undefined" [disabled]="true" >Select Banks</option>
                            <option [value]="item.bankid" *ngFor="let item of Banks">
                                {{item.bankdesc}}</option>
                        </select>
                    </div>
                </div>

                <div class="containerwithheading">
                    <label class="heading">Clearing Agent </label>
                    <div class="singleinputconatiner" style="margin-top: -20px;">
                        <select class="selectdiv" name="clearingagents" [(ngModel)]="updatedOrder.clearing_agent_id"
                            (change)="ChangeAgent($event)">
                            <option [ngValue]="undefined" [disabled]="true" >Select Clearing Agent</option>
                            <option [value]="item.user.uid" *ngFor="let item of Agent">
                                {{item["user"].fname}} {{item["user"].lname}}</option>
                        </select>
                    </div>

                </div>

                <div class="containerwithheading">
                    <label class="heading"> Suppliers</label>
                    <div class="singleinputconatiner" style="margin-top: -20px;">
                        <select class="selectdiv" name="Suppliers" [(ngModel)]="updatedOrder.supplier_id"
                            (change)="ChangeSupplier($event)">
                            <option [ngValue]="undefined" [disabled]="true" >Select Supplier</option>
                            <option [value]="item.user.uid" *ngFor="let item of Supplier">
                                {{item["user"].fname}} {{item["user"].lname}}</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>




        <div class="singleformfieldcontainer">
            <label class="heading">EIF Details</label>
            <div class="singlerow">
                <div class="fieldcontainer" style="margin-left: -10%;">
                    <div class="singleinputconatiner">
                        <small class="label">EIF Number</small>
                        <input class="selectdiv" style="height: 50%;" type="text" name="eifnumber"
                            [(ngModel)]="updatedOrder.eif_number">
                    </div>
                </div>


                <div class="fieldcontainer">
                    <div class="singleinputconatiner" style="margin-left: -68%;">
                        <small class="label">EIF Date</small>
                        <div class="selectdiv">
                            <!-- <i class="img"> <img src="/assets/celender.png"  width="100%" height="100%"></i> -->
                            <input style="height: 100%; width:90% ; border-color: transparent;padding-left: 2px;"
                                type="datetime-local" data-date-inline-picker="true"
                                [ngModel]="updatedOrder.eif_dt | date:'yyyy-MM-ddTHH:mm'"
                                (ngModelChange)="updatedOrder.eif_dt = $event" name="eif_dt">
                            <!-- <input type="datetime-local " tyle="height: 100%; width:90% ; border-color: transparent;padding-left: 2px;" [(ngModel)]="updatedOrder.eif_dt" /> -->

                        </div>
                    </div>
                </div>

            </div>
        </div>




        <div class="formfieldcontainer" style=" height: 50%;">
            <label class="heading">Shipping details</label>
            <div class="checkrow">
                <div class="fieldcontainer">
                    <div class="inputconatiner" style="height: 30%;margin-left: 10px;">
                        <small class="label">Vessel Name</small>
                        <input class="selectdiv" style="height: 50%;" name="vasselname"
                            [(ngModel)]="updatedOrder.order_shipping_details.vessel_name">
                    </div>
                    <div class="inputconatiner" style="height: 30%;margin-left: 10px;">
                        <small class="label">Country of Origin</small>
                        <select class="selectdiv" style="height: 50%;" name="origincountry"
                            (change)="ChangeOriginCountry($event)"
                            [(ngModel)]="updatedOrder.order_shipping_details.origin_country_id">
                            <option [ngValue]="undefined" [disabled]="true" >Select Origin Country</option>
                            <option [ngValue]="item.cid" *ngFor="let item of OriginCountry ">
                                {{item.cname}}</option>
                        </select>
                    </div>
                    <div class="inputconatiner" style="height: 30%;margin-left: 10px;">
                        <small class="label">Destination Location</small>
                        <select class="selectdiv" style="height: 50%;
                                " name="destinationcountry" (change)="ChangeDestinationCountry($event)"
                            [(ngModel)]="updatedOrder.order_shipping_details.destination_location_id">
                            <option [ngValue]="undefined" [disabled]="true" >Select Destination Location</option>
                            <option [ngValue]=item.shid *ngFor="let item of DestinationCountry ">
                                {{item.locname}}</option>
                        </select>
                    </div>
                </div>
                <div class="fieldcontainer">
                    <div class="inputconatiner" style="height: 30%;margin-left: 10px;">
                        <small class="label">Voyage Number</small>
                        <input class="selectdiv" style="height: 50%;" type="text" name="voyagenumber"
                            [(ngModel)]="updatedOrder.order_shipping_details.voyage_number">
                    </div>
                    <div class="inputconatiner" style="height: 30%;margin-left: 10px;">
                        <small class="label">Origin Port</small>
                        <select class="selectdiv" style="height: 50%;" name="originport"
                            (change)="ChangeOriginPort($event)" [(ngModel)]="updatedOrder.order_shipping_details.origin_port_id">
                            <option [ngValue]="undefined" [disabled]="true" >Select Origin Port</option>
                            <option [ngValue]=item.pid *ngFor="let item of OriginPort ">
                                {{item.pname}}</option>
                        </select>
                    </div>
                    <div class="inputconatiner" style="height: 30%;margin-left: 10px;">
                        <small class="label">VIR Number</small>
                        <input class="selectdiv" style="height: 50%;" type="text" name="virnumber"
                            [(ngModel)]="updatedOrder.order_shipping_details.vir_number">
                    </div>
                </div>
                <div class="fieldcontainer">
                    <div class="inputconatiner" style="height: 30%;margin-left: 10px;">
                        <small class="label">Shipping Line</small>
                        <select class="selectdiv" style="height: 50%;" name="shippingline"
                            (change)="ChangeShippingLine($event)"
                            [(ngModel)]="updatedOrder.order_shipping_details.shipping_line_id">
                            <option [ngValue]="undefined" [disabled]="true" >Select Shipping Line</option>
                            <option [ngValue]=item.slid *ngFor="let item of ShippingLine ">
                                {{item.slname}}</option>
                        </select>
                    </div>
                    <div class="inputconatiner" style="height: 30%;margin-left: 10px;">
                        <small class="label">Destination Port</small>
                        <select class="selectdiv" style="height: 50%;" name="destinationport"
                            (change)="ChangeDestinationPort($event)" [(ngModel)]="updatedOrder.order_shipping_details.destination_port_id">
                            <option [ngValue]="undefined" [disabled]="true" >Select Destination Port</option>
                            <option [ngValue]=item.pid *ngFor="let item of DestinationPort ">
                                {{item.pname}}</option>
                        </select>
                    </div>
                    <div class="inputconatiner" style="height: 30%;margin-left: 10px;">
                        <small class="label">IGM Number</small>
                        <input class="selectdiv" style="height: 50%;" type="text" name="igmcontainer"
                            [(ngModel)]="updatedOrder.order_shipping_details.igm_number">
                    </div>
                </div>
            </div>
        </div>


        <div class="singleformfieldcontainer">
            <div class="singledivwithheading">
                <div class="containerwithheading">
                    <label class="heading">Plan ETD</label>
                    <div class="singleinputconatiner" style="margin-top: -20px;">
                        <input class="selectdiv" type="datetime-local" name="planeetd" name="LCnumberBCreceiveddate"
                            [ngModel]="updatedOrder.estimated_departure_time | date:'yyyy-MM-ddTHH:mm'"
                            (ngModelChange)="updatedOrder.estimated_departure_time = $event">
                    </div>
                </div>

                <div class="containerwithheading">
                    <label class="heading">Est Voyage </label>
                    <div class="singleinputconatiner" style="margin-top: -20px;">
                        <input class="selectdiv" name="estvoyage" type="number" [(ngModel)]="updatedOrder.estimated_voyage
                                     ">
                    </div>

                </div>

                <div class="containerwithheading">
                    <label class="heading"> Plan ETA</label>
                    <div class="singleinputconatiner" style="margin-top: -20px;">
                        <input class="selectdiv" type="datetime-local" name="planeta"
                            [ngModel]="updatedOrder.estimated_arrival_time | date:'yyyy-MM-ddTHH:mm'"
                            (ngModelChange)="updatedOrder.estimated_arrival_time = $event">
                    </div>

                </div>
            </div>
        </div>


        <div class="formfieldcontainer">
            <label class="heading"> Payment Details</label>

            <div class="checkrow">
                <div class="fieldcontainer">
                    <div class="inputconatiner">
                        <small class="label">Payment Maturity Date</small>
                        <div class="selectdiv">
                            <!-- <i class="img"> <img src="/assets/celender.png"  width="100%" height="100%"></i> -->
                            <input style="height: 100%; width:90% ; border-color: transparent;padding-left: 2px;"
                                type="datetime-local" data-date-inline-picker="true" name="paymentmaturitydate"
                                [ngModel]="updatedOrder.payment_maturity_date | date:'yyyy-MM-ddTHH:mm'"
                                (ngModelChange)="updatedOrder.payment_maturity_date = $event">
                        </div>
                    </div>
                    <div class="inputconatiner">
                        <small class="label">Payment Amount</small>
                        <input class="selectdiv" type="number" name="paymentamount"
                            [(ngModel)]="updatedOrder.payment_amount">
                    </div>
                </div>
                <div class="fieldcontainer">
                    <div class="inputconatiner">
                        <small class="label">Demurrage Free Days</small>
                        <input class="selectdiv" type="number" name="demuragedays"
                            [(ngModel)]="updatedOrder.demurrage_free_days">
                    </div>
                </div>
                <div class="fieldcontainer">
                    <div class="inputconatiner">
                        <small class="label">Detention Free Days</small>
                        <input class="selectdiv" type="number" name="detentionfreedays"
                            [(ngModel)]="updatedOrder.detention_free_days">
                    </div>
                </div>
            </div>



        </div>

    
        <div class="singleformfieldcontainer" name="ContainerDetails"
            *ngFor="let container of ContainerDetails; let i = index ">
            <label class="heading" *ngIf="i == 0">Container Details</label>
            <div class="singlerow">
                <div class="fieldcontainer">
                    <div class="singleinputconatiner">
                        <small class="label">Container Type</small>
                        <select class="selectdiv" name="containertype{{i}}" id="containertype{{i}}"
                            [(ngModel)]="container.container_type_id" (change)="setContValue(container, $event)">
                            <option [ngValue]="undefined" [disabled]="true" >Select Containter Type</option>
                            <option [value]="item.conttype" *ngFor="let item of ContainerType">{{item.contname}}
                            </option>
                        </select>
                    </div>
                </div>


                <div class="fieldcontainer">
                    <div class="singleinputconatiner">
                        <small class="label">Container Size</small>
                        <select class="selectdiv" name="containersize{{i}}" id="containersize{{i}}"
                            [(ngModel)]="container.container_size_id" (change)="setContValue(container, $event)">
                            <option [ngValue]="undefined" [disabled]="true" >Select Container Size</option>
                            <option [ngValue]="item.contid" *ngFor="let item of ContainerSize">{{item.contsize}}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- INPUT WITH BTN -->
                <div class="fieldcontainer">
                    <div class="singleinputconatinerwithbtn">
                        <small class="label">Container Number</small>
                        <div class="singlebtninputdiv">
                            <input class="singleselectdivwithbtn" type="text" id="containernumber{{i}}"
                                name="containernum{{i}}" [(ngModel)]="container.container_number">
                            <div *ngIf="i == 0" class="singlebtndiv">
                                <button class="singlebtn" (click)="addContainers()" type="button">Add</button>
                            </div>
                            <div *ngIf="i > 0" class="singlebtndiv">
                                <button class="singlebtn" style="background-color: red;" type="button"
                                    (click)="removeContainerDetails(i)">close</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="Uploaddiv">
            <h2>Upload Documents</h2>

            <div class="uploadcontainer">

                <div class="uploadbtndiv" *ngFor="let item of DocumentType | slice:0:1 ; let i = index ">
                    <div class="uploadbtncontainer" *ngIf="i%3 === 0">
                        <button class="uploadbtn" type="button" (click)="uploader.click()">
                            {{DocumentType[0].doctype}}

                        </button>

                        <input hidden type="file" #uploader (change)="UploadFile( $event, DocumentType[0].docid )" />
                    </div>
                    <div class="uploadbtncontainer" *ngIf="i%3 === 0">
                        <button class="uploadbtn" name="packingList" ngDefaultControl type="button"
                            (click)="puploader.click()">
                            {{DocumentType[1].doctype}}
                        </button>
                        <input hidden type="file" id="packinglist" #puploader [(ngModel)]="MainOrderForm.packinglist"
                            (change)="PackingFileUpload( $event)" />
                    </div>
                    <div class="uploadbtncontainer" *ngIf="i%3 === 0">
                        <button class="uploadbtn" name="invoice" ngDefaultControl type="button"
                            (click)="uploader.click()">
                            {{DocumentType[2].doctype}}
                        </button>
                        <input hidden type="file" #uploader (change)="InvoiceFileUpload($event)" />
                    </div>
                </div>

                <div class="uploadbtndiv" *ngFor="let item of DocumentType | slice:0:1 ; let i = index ">
                    <div class="uploadbtncontainer">
                        <button class="uploadbtn" name="LCBCdoc" ngDefaultControl type="button"
                            (click)="uploader.click()"> {{DocumentType[3].doctype}}</button>
                        <input hidden type="file" #uploader (change)="LCBCFileUpload($event)" />
                    </div>
                    <div class="uploadbtncontainer">
                        <button class="uploadbtn" name="fta" [(ngModel)]="MainOrderForm.fta" ngDefaultControl
                            type="button" (click)="uploader.click()">
                            {{DocumentType[4].doctype}}</button>
                        <input hidden type="file" #uploader (change)="FTAFileUpload($event)" />
                    </div>
                    <div class="uploadbtncontainer">
                        <button class="uploadbtn" name="coo" [(ngModel)]="MainOrderForm.coo" ngDefaultControl
                            type="button" (click)="uploader.click()">
                            {{DocumentType[5].doctype}}
                        </button>
                        <input hidden type="file" #uploader (change)="COOFileUpload($event)" />
                    </div>
                </div>

                <div class="uploadbtndiv" *ngFor="let item of DocumentType | slice:0:1 ; let i = index ">
                    <div class="uploadbtncontainer" *ngIf="i%3 === 0">
                        <button class="uploadbtn" name="coa" [(ngModel)]="MainOrderForm.coa" ngDefaultControl
                            type="button" (click)="uploader.click()">
                            {{DocumentType[6].doctype}}
                        </button>
                        <input hidden type="file" #uploader (change)="COAFileUpload($event)" />
                    </div>
                    <div class="uploadbtncontainer" *ngIf="i%3 === 0">
                        <button class="uploadbtn" name="msds" [(ngModel)]="MainOrderForm.msds" ngDefaultControl
                            type="button" (click)="uploader.click()">
                            {{DocumentType[7].doctype}}
                        </button>
                        <input hidden type="file" #uploader (change)="MSDSFileUpload($event)" />
                    </div>
                    <div class="uploadbtncontainer" *ngIf="i%3 === 0">
                        <button class="uploadbtn" accept=".csv" name="others" [(ngModel)]="MainOrderForm.others"
                            ngDefaultControl type="button" (click)="uploader.click()">
                            {{DocumentType[8].doctype}}
                        </button>
                        <input hidden type="file" #uploader (change)="OtherFileUpload($event)" />
                    </div>
                </div>
            </div>
        </div>



        <hr size="0" width="99%" color="gray" style="margin-top: 2%;">


        <div class="btndiv">
            <button class="btn" type="sunmit" [disabled]="!orderinsertion.form.valid"> Update</button>
        </div>

    </form>
</div>



<script>

</script>