

   <div class="spandiv">
    &nbsp;
  
  
  
    
      <div class="modal-header">
        <div class="headertxtdiv">
  
          <h4 class="modal-title" id="modal-basic-title">Supplier Details</h4>
          <p class="modal-title" id="modal-basic-title" style="font-size: 10px;">Add/Edit your Supplier Details</p>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
  
      </div>
  
  
  
  
  
  
  
  
  
      <div class="modal-body">
        <div class="griddiv">
            <div class="maincontianer">
                <div class="fieldcontainer">
                    <small class="label">Supplier Code </small>
                    <input class="selectdiv" type="text" placeholder="Write Supplier Code">
                </div>
                <div class="fieldcontainer">
                  <small class="label">Supplier Name</small>
                    <input class="selectdiv" type="text" 
                    placeholder="Write Supplier Name "
                    > 
                </div>
                <div class="fieldcontainer">
                  <small class="label">Address </small>
                  <input class="selectdiv" type="text"
                  placeholder="Write Address "
                  >
                </div>
            </div>

            <div class="maincontianer">
              <div class="fieldcontainer">
                <small class="label">Supplier Name </small>
                <input class="selectdiv" type="text"
                placeholder="Write Supplier Name" >
            </div>
            <div class="fieldcontainer">
              <small class="label">Contact Email </small>
                <input class="selectdiv" type="text"
                placeholder="Write Contact Email "> 
            </div>
            <div class="fieldcontainer">
              <small class="label">Contact Number </small>
              <input class="selectdiv" type="text"
              placeholder="Write Contact Number ">
            </div>
          </div>
        </div>
      </div>
  
  
      <form class="footer">
        <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button> -->
        
          <button class="btncontainer" >
              Submit
          </button>
      </form>
   </div>
  
  
  